.article {
  width:100%;
  display: inline-block;
  color:#333;
  position: relative;
  padding: 1% 1%;
  &:hover {
    background: #f3f3f3;
  }
}
.article-media:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  background-image: linear-gradient(0deg,rgba(0,0,0,.68),rgba(0,0,0,.5) 27%,transparent);
  z-index: 1;

}
.article-media {
  width: 15%;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.article-media-content {
  position: absolute;
  width: 100%;
  bottom:0;
  text-align: left;
  padding:15px;
  color:white;
  z-index: 2;
  p {
    color:white;
  }
}
.article-half {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  color:#333;
  text-align: left;
  padding:0 1%;
}
.article-img {
  width: 100%;
}
.article-content {
  width: 85%;
  text-align: left;
  vertical-align: top;
  padding: 10px 20px;
  display: inline-block;
}
