.article {
  width:25%;
  display: inline-block;
  color:#333;
  position: relative;
}
.article:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  background-image: linear-gradient(0deg,rgba(0,0,0,.88),rgba(0,0,0,.5) 27%,transparent);
  z-index: 1;

}
.article-content {
  position: absolute;
  width: 100%;
  bottom:0;
  text-align: left;
  padding:15px;
  color:white;
  z-index: 2;
}
